
@{
    ViewBag.Title = "This is Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3>This is Development! <small>A madman's guide to mental health</small></h3>
</div>

<p>Augest 31st, 2014</p>
<div class="well">
    <div class="page-header">
        <h3>Is your website too slow? <small>'Good enough' might be costing you customers</small></h3>
    </div>
    <h4>From Novelty to Commodity</h4>
    <p>The internet was changed forever with the introduction of the world wide web roughly 25 years ago and in that short time it's gone from an academic and hobbyist pursuit to, arguably, a <a href="http://en.wikipedia.org/wiki/Right_to_Internet_access">human right</a>. The sophistication of web sites has significantly increased in that time and so has the expectations of the average web user. As internet has been commoditized, web sites now need to be as responsive and reliable as the brand they represent.</p>
    <h4>"Any sufficiently advanced technology is indistinguishable from magic" - Arthur C. Clarke</h4>
    <p>We maintain the illusion is by not breaking the flow of actions of the user. The key, is response time. When I press a number on the keypad of my microwave, there is no discernible delay to when the timer changes so I never really have time to think about how it works, it just does. In 1992 IBM wanted to see what effected response time had on it's users and found that changes in sub-second of response time offers the promise of <a href="http://www.vm.ibm.com/devpages/jelliott/evrrt.html">substantial improvements in user productivity</a>. Small improvements made big differences.</p>
    <h4>Messure Twice, Cut Once</h4>
    <p>Messure your speed, we have the tools! All the major browsers come with F12 developer tools (hit F12 to access) and have some form of profiling that will allow you to messure things like network activity during load and UI responsiveness. There are also browers extentions that will help such as <a href="https://addons.mozilla.org/en-US/firefox/addon/yslow/">Yahoo's Yslow</a> or <a href="https://developers.google.com/speed/pagespeed/insights_extensions">Googles PageSpeed Insights</a></p>
    <p><a href="https://developers.google.com/speed/pagespeed/insights/">Google PageSpeed insights</a> is also available as an online service. After analyzing your website it will give detailed suggestions on how to improve in ways you might not have been aware of.</p>
    <p>These tools are designed to help you understand where and when things are loading. Profictioncy with them will allow you build highly optimized web sites and enjoyable user experinces. Ignore at your own peril.</p>
    <h4>Don't Even Think About It</h4>
    <p>If your customer has time to think about how long an action is taking, they won't be thinking good thoughts. Don't give them a chance. Time of page loads and element actions on your web site might be having a huge impact on your customers. Reduce response times and give your customers a little magic; They'll give it right back.</p>
</div>