
@{
    ViewBag.Title = "This is Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is Development</h2>

<p>Augest 31st, 2014</p>
<div class="well">
    <h4>From Novelty to Commodity</h4>
    <p>The internet was changed forever with the introduction of the world wide web roughly 25 years ago and in that short time it's gone from an academic and hobbyist pursuit to, arguably, a <a href="http://en.wikipedia.org/wiki/Right_to_Internet_access">human right</a>. The sophistication of web sites has significantly increased in that time and so has the average web users expectations. As internet has been commoditized, web sites now need to be as quick and reliable as the brand they represent.</p>
    <br />
    <h4>"Any sufficiently advanced technology is indistinguishable from magic" - Arthur C. Clarke</h4>
    <p>One of the ways we maintain the illusion is by not breaking the flow of the user and the key to that is response time. When I press a number on the keypad of my microwave, there is no discernible delay to when the timer changes so I never really have to think how it works, it just does. In 1992 IBM wanted to see what effected response time had on it's users and found that changes in sub-second of response time <a href="http://www.vm.ibm.com/devpages/jelliott/evrrt.html">offers the promise of substantial improvements in user productivity</a>. Small improvements made big differences, it's how we change content loading on a page to a user experience.</p>
    <p>Google offers a service for testing a web site for performance and best practices. After analyzing your website it will give detailed suggestions on how to improve in ways you might not have been aware of.</p>
    <p>In short, time of page loads and element actions on your web site might be having a huge impact on your customers. Reduce response times and give your customers a little magic; They'll give it right back.</p>
</div>